.recipe_card {
  width: (308/16) * 1rem;
  height: (209/16) * 1rem;
  border-radius: 1rem;
  display: grid;
  padding: 0.7rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  .recipe_card_info {
    margin-top: 1rem;
    grid-column: 1;
    grid-row: 2;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    .recipe_name {
      font-weight: 500;
      font-size: (20/16) * 1rem;
    }
    .recipe_author {
      font-size: (12/16) * 1rem;
    }
    .recipe_card_raitings {
      display: flex;
      gap: 0.5rem;
      p{
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
