@import "@scss/App.scss";

.manage_profil_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins";
  .form_top {
    display: flex;
    justify-content: flex-end;
    h2 {
      flex-shrink: 24px;
      font-weight: 500;
      margin-right: 23.897%;
    }
  }
  label {
    font-size: 14px;
    color: $Text-faded;
  }
  input {
    font-size: 1rem;
    outline: none;
  }
  .input_block_name {
    display: flex;
    flex-direction: column;
    gap: 4px;
    input {
      height: 56px;
      border: 1px solid $Primary;
      border-radius: 42px;
      padding: 9px 24px 9px 24px;
    }
  }
  .input_block_bio {
    height: 105px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .input_block_photo {
    height: 118px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .button_block {
    height: 56px;
    button {
      font-size: 1rem;
      color: #ffffff;
    }
  }
}
