@import "../../scss/App.scss";
.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $Input-background;
  .cooks_corner_link {
    height: 98px;
    border-bottom: 1px solid $Text-faded;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar_links {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    .logout_button {
      width: 3.5rem;
      height: 3.5rem;
      border: none;
      border-radius: 10px;
      background: $Background;
    }
  }
}

@media screen and (width<426px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    .cooks_corner_link {
      display: none;
    }
    .navbar_links {
      margin-top: 0;
      width: 100%;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      .logout_button {
        display: none;
      }
    }
  }
}
