@import "../../scss/App.scss";
.navbar {
  width: 6rem;
  background: $Input-background;
  img {
    width: 4rem;
    height: 4rem;
  }
  .navbar_links {
    height: 94%;
    display: flex;
    flex-direction: column;
    gap: 66%;
    .navbar_links_top {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
    button {
      background: none;
    }
  }
}
