@import "../../scss/App.scss";

.login_page {
  width: 100%;
  height: 100vh;
  background: $Background;
  .login_page_greeting {
    background: $Primary;
    height: (300/16) * 1rem;
    color: $Background;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      width: (324/16) * 1rem;
    }
  }
  .login_form_wrapper {
    height: 70%;
    padding-top: 4.5rem;
    form {
      text-align: left;
      color: $Primary;
      margin: 0 auto;
      width: 30rem;
      height: 18rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      button,
      input {
        width: 100%;
      }
    }
  }
}
