@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #fa9e31;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  font-family: "Poppins", sans-serif;
  line-height: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: #343434;
  background: #ffffff;
  display: flex;
}

a {
  text-decoration: none;
  color: #fa9e31;
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.75rem;
  font-weight: 300;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
}

input,
button {
  text-decoration: none;
  outline: none;
  border: 1px solid;
  font-size: 1rem;
}

button {
  color: #ffffff;
  font-weight: 500;
  font-size: 1rem;
}

