$Primary: #fa9e31;
$Secondary: #fff6de;
$Text: #343434;
$Text-faded: #666666;
$Input-background: #ededed;
$Background: #fafafa;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: #fa9e31;

  #root {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    text-align: center;
    font-family: "Poppins", sans-serif;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #343434;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 14fr;
    grid-template-rows: 1fr;

    .navbar {
      grid-column: 1;
      grid-row: 1;
      background: $Input-background;
    }

    .pages {
      grid-column: 2;
      grid-row: 1;
    }

    .authpages {
      grid-column: span 2;
      grid-row: 1;
    }

    a {
      text-decoration: none;
      color: #fa9e31;
      font-weight: 500;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 3.75rem;
      font-weight: 300;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 500;
    }
    h3 {
      font-size: (18/16) * 1rem;
      font-weight: 500;
    }

    input {
      text-decoration: none;
      outline: none;
      font-size: 1rem;
      height: 56px;
      border: none;
    }
    button {
      text-decoration: none;
      outline: none;
      font-size: 1rem;
      height: 56px;
      cursor: pointer;
      /* font-weight: 500; */
    }
    ul {
      li {
        list-style-type: none;
      }
    }
  }
}

@media screen and (width < 426px) {
  body {
    #root {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 14fr 1fr;
      h1 {
        font-size: 25px;
        line-height: 37.5px;
      }
      h2 {
        font-size: (22/16) * 1rem;
      }
      button,
      input {
        height: 44px;
      }

      .authpages {
        grid-row: span 2;
      }

      .pages {
        grid-row: 1;
        grid-column: 1;
      /*   background: #ffffff; */
      }

      .navbar {
        grid-row: 2;
        grid-column: 1;
      }
    }
  }
}
