@import "../../scss/App.scss";

.home_page {
  display: flex;
  justify-content: flex-start;
  padding: 2.5rem 2rem 0 2rem;
  .home_page_content {
    height: 100%;
    text-align: left;
    .user_greeting {
      color: #343434;
      font-size: 1.5rem;
      line-height: (36/15) * 1rem;
      margin-bottom: 4rem;
    }
    .recipe_wrapper {
      h2 {
        margin-bottom: 2rem;
      }
      .recipe_categories {
        margin-bottom: 1rem;
        display: flex;
        gap: 5rem;
        .recipe_category_active {
          background: none;
          font-weight: 900;
          color: #343434;
          border: none;
          border-bottom: 1px solid #343434;
          font-weight: 500;
          cursor: pointer;
        }
        .recipe_category {
          font-weight: 300;
          color: $Text-faded;
          background: none;
          cursor: pointer;
          border: none;
          border-bottom: 1px solid #ffffff;
        }
      }
      .recipe_cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }
}

@media screen and (width<426px) {
  .home_page {
    padding: 0;
    .home_page_content {
      .user_greeting {
        font-size: 1rem;
        color: #ffffff;
        height: (93/16) * 1rem;
        background: $Primary;
        padding: 20px 20px 0 20px;
      }
      .recipe_wrapper {
        padding: 0 20px 0 20px;
        .recipe_cards {
          gap: 15px;
        }
      }
    }
  }
}
